In [70]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.3'

In [7]:
#读入数据并查看数据规模
df = pd.read_csv('C:/Users/Yuang/Desktop/joyful-pandas/data/pokemon.csv')
df.shape

(800, 11)

In [8]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

In [54]:
#1.验证Total值是否等于后面六个属性值的和
(df[df.columns[5:]].sum(1)==df['Total']).all()

True

In [12]:
#2.对#重复的妖怪只保留第一条记录
df1 = df.drop_duplicates(['#'])
df1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80

In [60]:
#2.1求第一属性的种类数量
df1['Type 1'].nunique()

18

In [61]:
#2.1求前三多数量对应的种类
df1['Type 1'].value_counts().index[:3]

Index(['Water', 'Normal', 'Grass'], dtype='object')

In [63]:
#2.2第一属性和第二属性的组合种类
df1.drop_duplicates(['Type 1','Type 2']).shape[0]

143

In [65]:
#2.3求尚未出现过的属性组合
L_all = [i +' '+j for i in df1['Type 1'].unique() for j in (df1['Type 1'].unique().tolist()) + [' ']]
len(L_all)

342

In [73]:
L_part = [i + ' '+ j for i,j in zip(df['Type 1'],df['Type 2'].replace(np.nan,''))]
len(set(L_all).difference(set(L_part)))

206

In [76]:
#3.1将物攻超过120的替换为high,不足50的替换为low,否则设为mid
df['Attack'].mask(df['Attack']>120,'high').mask(df['Attack']<50,'low').mask((df['Attack']>=50) & (df['Attack']<=120),'mid')

0       low
1       mid
2       mid
3       mid
4       mid
       ...
795     mid
796    high
797     mid
798    high
799     mid
Name: Attack, Length: 800, dtype: object

In [77]:
#3.2取出第一属性，分别用 replace 和 apply 替换所有字母为大写
L = df['Type 1'].unique().tolist()
df['Type 1'].replace(L,[str.upper(i) for i in L])

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [78]:
df['Type 1'].apply(lambda x:str.upper(x))

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [80]:
#2.3求每个妖怪六项能力的离差，即所有能力中偏离中位数最大的值，添加到 df 并从大到小排序
df['Deviation'] = df[df.columns[5:]].apply(lambda x:(x-x.median()).max(),1)
df.sort_values('Deviation',ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Deviation
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,155.0
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,0.0
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,0.0
538,481,Mesprit,Psychic,NaN,580,80,105,105,105,105,80,0.0
547,489,Phione,Water,NaN,480,80,80,80,80,80,80,0.0
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,0.0